<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<property name="PROJECT" value="fileingestor-service" />
	
    <property name="LOG_DIR" value="${java.io.tmpdir}/logs" />

    <appender name="LOSEC_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${PROJECT}.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily, zipping previous days -->
            <fileNamePattern>${LOG_DIR}/${PROJECT}.%d{dd-MM-yyyy}.log.zip</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="FUTURE_LOG"
              class="ch.qos.logback.core.FileAppender">
        <!-- file>${LOG_DIR}/${PROJECT}-${TIME_FORMAT}-future.log</file-->
        <file>${LOG_DIR}/${PROJECT}-future.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="future">
                <expression>message.contains("-FUTURE-")</expression>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
       </filter> 
       <append>true</append>  
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
	



    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
	
   	<root level="INFO">
        <appender-ref ref="LOSEC_LOG"/>
        <appender-ref ref="FUTURE_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
	

</configuration>
